{% extends 'base.html' %}

{% block content %}
    <c-hero subHeadline="We use only the best quality materials on the market in order to provide the best products to our patients, So don’t worry about anything and book yourself.">
        <c-slot name="headline">
            <h2 class="text-dark font-bold text-6xl text-balance leading-tight">Get ready for your best ever Dental <span class="text-secondary">Experience!</span></h2>
        </c-slot>
        <c-slot name="cta">
            <div class="flex gap-4">
                <c-bookBtn name="btn" />
                <c-emergencyCard />
            </div>
        </c-slot>

    </c-hero>


{% endblock content %}