{% load static %}
<section
  class="lg:mx-10 mx-0 lg:my-12 sm:my-8 my-3 px-8 bg-primary rounded-xl py-16"
>
  <div class="container mx-auto sm:px-8 px-6 xl:gap-0 gap-8">
    <!-- headline-container -->
    <div class="flex justify-between">
      <div>
        <c-gHeadline>
          <h2
            class="font-bold sm:text-4xl text-3xl text-dark capitalize sm:leading-snug leading-10 mb-3"
          >
            News & <span class="text-secondary">Articles</span>
          </h2>
        </c-gHeadline>
        <p class="font-normal text-lg text-primaryGray mb-4">
          We use only the best quality materials on the market <br />
          in order to provide the best products to our patients.
        </p>
      </div>
      <!-- btn-containter -->
      <div>
        <button
          class="bg-secondary text-dark font-semibold text-base px-4 py-3 rounded-lg"
        >
          View All
        </button>
      </div>
    </div>
    <!-- article-list-container -->
    <div class="mx-auto py-8">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for article in articles %}
          <div class="bg-white shadow-lg rounded-lg p-5 flex flex-col justify-between h-full">
            <div>
              <img class="w-full h-48 object-cover mb-7 rounded-lg" src="{{ article.featured_image.url }}" alt="image">
              <a class="font-medium text-dark text-base bg-secondary px-3 py-2 rounded" href="">{{ article.category }}</a>
              <h2 class="mt-4 mb-2 text-lg font-medium text-primaryGray">{{ article.title | truncatechars:20 }}</h2>
              <p class="font-normal text-base text-primaryGray mt-2">{{ article.content | truncatechars:80 }}</p>
            </div>
            <div class="flex justify-end mt-auto">
              <small class="text-primaryGray italic text-sm  block mt-4">~{{ article.author }}</small>
            </div>
          </div>
        {% empty %}
          <p class="col-span-4 text-center text-gray-600">No articles available.</p>
        {% endfor %}
      </div>
    </div>
    
    
    <!-- btn-containter -->
    <div class="text-center">
      <button
        class="bg-secondary text-dark font-semibold text-base px-4 py-3 rounded-lg mt-5"
      >
        Check out more
      </button>
    </div>
  </div>
</section>
