{% load static %}

<section
  class="lg:mx-10 mx-2 lg:my-12 sm:my-8 my-3 sm:px-8 rounded-xl py-4"
>
  <div class="container max-w-2xl mx-auto bg-white rounded-lg p-3">
      <c-gHeadline>
        <h2
          class="font-bold sm:text-4xl text-3xl text-dark capitalize sm:leading-snug"
        >
        Frequently Ask <span class="text-secondary">Question</span>
        </h2>
      </c-gHeadline>
      <p class="font-normal text-base text-primaryGray my-6">We use only the best quality materials on the market in order to provide the best products to our patients.</p>

      {% for faq in faqs %}
      <div class="border-b border-gray-300 py-2 mt-4">
        <button class="w-full font-semibold text-primaryGray text-base  text-left flex justify-between items-center p-2"
                hx-on:click="toggleFAQ(this)">
          {{ faq.question }}
          <span class="icon text-xl transition-transform duration-300 ease-in-out">+</span>
        </button>
        <div class="faq-answer max-h-0 overflow-hidden transition-all duration-300 ease-in-out text-gray-600">
          {{ faq.answer }}
        </div>
      </div>
    {% endfor %}
    
    </div>

    <!-- faq-list-container -->

<!-- <div class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg p-6">
  <h2 class="text-2xl font-semibold text-gray-800 mb-4">Frequently Asked Questions</h2>

  {% for faq in faqs %}
      <div class="border-b border-gray-300 py-2">
          <button class="w-full text-left font-medium text-gray-700 hover:text-blue-600 flex justify-between items-center"
                  hx-on:click="this.nextElementSibling.classList.toggle('hidden'); 
                               this.nextElementSibling.classList.toggle('max-h-96'); 
                               this.querySelector('.icon').textContent = this.querySelector('.icon').textContent === '+' ? '−' : '+'">
              {{ faq.question }}
              <span class="icon text-xl transition-transform duration-300 ease-in-out">+</span>
          </button>
          <div class="hidden max-h-0 overflow-hidden transition-all duration-500 ease-in-out text-gray-600 mt-2">
              {{ faq.answer }}
          </div>
      </div>
  {% endfor %}
</div> -->

    <script>
  function toggleFAQ(button) {
  let answer = button.nextElementSibling;
  let icon = button.querySelector('.icon');

  if (answer.classList.contains("max-h-0")) {
    answer.classList.remove("max-h-0");
    answer.classList.add("max-h-[300px]", "p-2"); // Adjust height
    icon.textContent = "−";
  } else {
    answer.classList.remove("max-h-[300px]", "p-2");
    answer.classList.add("max-h-0");
    icon.textContent = "+";
  }
}

    </script>
  </div>
</section>
