{% load static %}
<head>
  <style>
    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }
  </style>
</head>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper mb-12">
    <div class="swiper-slide">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
      >
        <img
          class="border-4 border-blue-950 rounded-2xl"
          src="{% static 'Images/jacob.png' %}"
          alt="linkedin-image"
      /></a>
    </div>
    <div class="swiper-slide">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
      >
        <img
          class="border-4 border-blue-950 rounded-2xl"
          src="{% static 'Images/jenny.png' %}"
          alt="linkedin-image"
        />
      </a>
    </div>
    <div class="swiper-slide">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
      >
        <img
          class="border-4 border-blue-950 rounded-2xl"
          src="{% static 'Images/jim.png' %}"
          alt="linkedin-image"
        />
      </a>
    </div>
    <div class="swiper-slide">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
      >
        <img
          class="border-4 border-blue-950 rounded-2xl"
          src="{% static 'Images/wade.png' %}"
          alt="linkedin-image"
        />
      </a>
    </div>

    <div class="swiper-slide">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
      >
        <img
          class="border-4 border-blue-950 rounded-2xl"
          src="{% static 'Images/jacob.png' %}"
          alt="linkedin-image"
        />
      </a>
    </div>
    <div class="swiper-slide">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
      >
        <img
          class="border-4 border-blue-950 rounded-2xl"
          src="{% static 'Images/jenny.png' %}"
          alt="linkedin-image"
        />
      </a>
    </div>
    <div class="swiper-slide">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
      >
        <img
          class="border-4 border-blue-950 rounded-2xl"
          src="{% static 'Images/jim.png' %}"
          alt="linkedin-image"
      /></a>
    </div>
    <div class="swiper-slide">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
      >
        <img
          class="border-4 border-blue-950 rounded-2xl"
          src="{% static 'Images/wade.png' %}"
          alt="linkedin-image"
        />
      </a>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
