{% load static %}
<head>
  <style>
    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }

    /* .swiper-pagination-bullet {
      background-color: #ccc;
    } */

    .swiper-pagination-bullet-active {
      background-color: #7fdb6f;
    }
  </style>
</head>
<section class="lg:my-12 sm:my-8 my-3 bg-gradient-to-r to-[#FEF0C3] from-[#4ade80] py-14">
  <div class="flex flex-col items-center gap-4 justify-center px-4">
    <c-gHeadline>
      <h2
        class="font-bold sm:text-4xl text-3xl text-dark capitalize sm:leading-snug leading-10 text-center"
      >
        Meet our <span class="text-secondary">specialists </span>
      </h2>
    </c-gHeadline>
    <p class="font-normal text-lg text-primaryGray mb-4 text-center">
      We use only the best quality materials on the market in order to provide
      the best products to our patients.
    </p>
  </div>
  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper mb-12">
      <div class="swiper-slide">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
        >
          <img
            class="border-4 border-blue-950 rounded-2xl"
            src="{% static 'Images/jacob.png' %}"
            alt="linkedin-image"
          /></a>
      </div>
      <div class="swiper-slide">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
        >
          <img
            class="border-4 border-blue-950 rounded-2xl"
            src="{% static 'Images/jenny.png' %}"
            alt="linkedin-image"
          />
        </a>
      </div>
      <div class="swiper-slide">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
        >
          <img
            class="border-4 border-blue-950 rounded-2xl"
            src="{% static 'Images/jim.png' %}"
            alt="linkedin-image"
          />
        </a>
      </div>
      <div class="swiper-slide">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
        >
          <img
            class="border-4 border-blue-950 rounded-2xl"
            src="{% static 'Images/wade.png' %}"
            alt="linkedin-image"
          />
        </a>
      </div>

      <div class="swiper-slide">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
        >
          <img
            class="border-4 border-blue-950 rounded-2xl"
            src="{% static 'Images/jacob.png' %}"
            alt="linkedin-image"
          />
        </a>
      </div>
      <div class="swiper-slide">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
        >
          <img
            class="border-4 border-blue-950 rounded-2xl"
            src="{% static 'Images/jenny.png' %}"
            alt="linkedin-image"
          />
        </a>
      </div>
      <div class="swiper-slide">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
        >
          <img
            class="border-4 border-blue-950 rounded-2xl"
            src="{% static 'Images/jim.png' %}"
            alt="linkedin-image"
          /></a>
      </div>
      <div class="swiper-slide">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/shahriar-jubayer-eshat/"
        >
          <img
            class="border-4 border-blue-950 rounded-2xl"
            src="{% static 'Images/wade.png' %}"
            alt="linkedin-image"
          />
        </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<script>
  var swiper = new Swiper(".mySwiper", {
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: "auto",
    coverflowEffect: {
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true,
    },
    pagination: {
      el: ".swiper-pagination",
    },
  });
</script>
