{% load static %}
<section class="service bg-primary lg:mx-16 mx-4 grid xl:grid-cols-3 sm:grid-cols-2 grid-cols-1 md:p-10 px-4 py-8 md:gap-8 gap-8 rounded-xl">

    <!--serviceCard-->
    <c-serviceCard title="Root Canal Treatment" text="Root canal treatment (endodontics) is a dental procedure used to treat infection at the centre of a tooth." >
        <c-slot name="rootCanal"><img class="w-20 h-20 object-cover" src="{% static 'Images/Icons/rootCanal.png' %}" alt="root-canal"></c-slot>
    </c-serviceCard>

<!--serviceCard-->
    <c-serviceCard title="Root Canal Treatment" text="Root canal treatment (endodontics) is a dental procedure used to treat infection at the centre of a tooth." >
        <c-slot name="rootCanal"><img class="w-20 h-20 object-cover" src="{% static 'Images/Icons/cosmetic.png' %}" alt="root-canal"></c-slot>
    </c-serviceCard>

<!--serviceCard-->
    <c-serviceCard title="Root Canal Treatment" text="Root canal treatment (endodontics) is a dental procedure used to treat infection at the centre of a tooth." >
        <c-slot name="rootCanal"><img class="w-20 h-20 object-cover" src="{% static 'Images/Icons/implant.png' %}" alt="root-canal"></c-slot>
    </c-serviceCard>

</section>