{% load static %}
<section class="lg:mx-48 mx-0 lg:my-12 sm:my-8 my-3">
  <div class="container mx-auto sm:px-8 px-6 flex flex-col gap-4 items-start">
    <c-gHeadline>
      <h2 class="font-bold sm:text-4xl text-3xl text-dark capitalize">
        We’re welcoming new patients <br class="lg:hidden sm:block hidden" />
        and
        <span class="text-secondary"> can’t wait to meet you.</span>
      </h2>
    </c-gHeadline>
    <p class="font-normal text-lg text-primaryGray mb-4">
      We use only the best quality materials on the market in order to provide
      the best products to our patients.
    </p>
    <div class="bg-secondary w-full sm:h-96 h-60 rounded-lg">
      <iframe
        class="w-full h-full rounded-lg"
        src="https://www.youtube.com/embed/60-LS1u05_Q?si=7Kx-SV0uwtBOMTNa"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
